# [Tool]: Combining ira laser
[submodule "src/me5413_thirdparty/ira_laser_tools"]
	path = src/me5413_thirdparty/ira_laser_tools
	url = git@github.com:AAAAAAABYSSS/ira_laser_tools.git

# [Localization]: NDT localization
[submodule "src/me5413_thirdparty/ndt_omp"]
	path = src/me5413_thirdparty/ndt_omp
	url = git@github.com:AAAAAAABYSSS/ndt_omp.git

[submodule "src/me5413_thirdparty/fast_gicp"]
	path = src/me5413_thirdparty/fast_gicp
	url = git@github.com:AAAAAAABYSSS/fast_gicp.git

[submodule "src/me5413_thirdparty/hdl_localization"]
    path = src/me5413_thirdparty/hdl_localization
    url = git@github.com:AAAAAAABYSSS/hdl_localization.git

[submodule "src/me5413_thirdparty/hdl_global_localization"]
    path = src/me5413_thirdparty/hdl_global_localization
    url = git@github.com:AAAAAAABYSSS/hdl_global_localization.git

# [Planner & Controller]: Motion planner and controller
[submodule "src/me5413_thirdparty/ros_motion_planning"]
	path = src/me5413_thirdparty/ros_motion_planning
	url = git@github.com:AAAAAAABYSSS/ros_motion_planning.git

[submodule "src/me5413_thirdparty/teb_local_planner"]
	path = src/me5413_thirdparty/teb_local_planner
	url = git@github.com:AAAAAAABYSSS/teb_local_planner.git

[submodule "src/me5413_thirdparty/teb_local_planner_tutorials"]
	path = src/me5413_thirdparty/teb_local_planner_tutorials
	url = git@github.com:AAAAAAABYSSS/teb_local_planner_tutorials.git


# [Mapping]: Mapping and SLAM
[submodule "src/me5413_thirdparty/fast_livo"]
	path = src/me5413_thirdparty/fast_livo
	url = git@github.com:AAAAAAABYSSS/FAST-LIVO2.git

[submodule "src/me5413_thirdparty/rpg_vikit"]
	path = src/me5413_thirdparty/rpg_vikit
	url = git@github.com:AAAAAAABYSSS/rpg_vikit.git

[submodule "src/me5413_thirdparty/livox_ros_driver"]
	path = src/me5413_thirdparty/livox_ros_driver
	url = git@github.com:AAAAAAABYSSS/livox_ros_driver.git

[submodule "src/me5413_thirdparty/Sophus"]
	path = src/me5413_thirdparty/Sophus
	url = git@github.com:AAAAAAABYSSS/Sophus.git

[submodule "src/me5413_thirdparty/Livox-SDK"]
	path = src/me5413_thirdparty/Livox-SDK
	url = git@github.com:AAAAAAABYSSS/Livox-SDK.git

# [Visualization]: Visualization tools
[submodule "src/me5413_thirdparty/laserscan_to_pointcloud"]
	path = src/me5413_thirdparty/laserscan_to_pointcloud
	url = git@github.com:AAAAAAABYSSS/pointcloud_to_laserscan.git

