<launch>
  <rosparam file="$(find me5413_perception)/config/perception.yaml" command="load" />

  <!-- <plugin name="diff_drive" filename="libgazebo_ros_diff_drive.so">
    <max_wheel_torque>10</max_wheel_torque>
    <max_wheel_speed>30</max_wheel_speed> 
  </plugin> -->

  <!-- <node pkg="me5413_perception" type="fusion_node.py" name="fusion_node" output="screen" required="true" /> -->

  <node pkg="me5413_perception" type="clu_pcd_v0.5.py" name="clu_pcd_node" output="screen" required="true" />

  <node pkg="me5413_perception" type="pseudo_status.py" name="pseudo_status_node" output="screen" required="true" />

  <node pkg="me5413_perception" type="pub_3d_bbox.py" name="bbox_transform_node" output="screen" required="true" />

  <node pkg="me5413_perception" type="pub_nav_goal_v0.1.py" name="nav_goal_node" output="screen" required="true" />

  <!-- <node pkg="me5413_perception" type="yolo_detect.py" name="yolo_detect_node" output="screen" respawn="true" /> -->

  <!-- <node pkg="me5413_perception" type="visualize_fusion.py" name="visualize_fusion_node" output="screen" respawn="true" /> -->

  <node type="rviz" name="rviz" pkg="rviz" args="-d $(find me5413_perception)/rviz/me5413_perception.rviz" output="log" respawn="true"/>
</launch>
